.mainVisual {
    position: relative;
    display: flex;
    border-top: none;
    background-color: #C2F4FF;

}

.mainVisual .mw {
    background-color: #FFE3CE;

}

.mainVisual .inner {
    padding: 150px 64px 100px 64px;
    display: flex;
    justify-content: space-between;
}

.mainVisual .mw .inner::before {
    content: "";
    /* border: 2px solid red; */
    width: 100px;
    height: 100px;
    background-image: url(../img/Polygon\ 2.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 200px;
}

.mainVisual .mw .inner::after {
    content: "";
    /* border: 2px solid red; */
    z-index: 10;
    width: 240px;
    height: 240px;
    background-size: contain;
    background-image: url(../img/Circle\ Icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 270px;
    right: 4vw;
}

.mainVisual .mw .inner>div:first-of-type:before {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(../img/Star\ 2.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 70px;
    left: 500px;
}

.mainVisual h2 {
    position: relative;
    z-index: 5;
}

.mainVisual h2 span {
    display: block;
    font-size: 30px;
    background-color: #F2ED72;
    width: 200px;
    height: 58px;
    border-radius: 999px;
    border: 4px solid #2e2e2e;
    text-align: center;
    line-height: 54px;
    margin: 8px 0;
}

.mainVisual p {
    padding: 16px 0 40px 0;
}



/* side */
.mainVisual .sideBar {
    border: 2px solid green;

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.mainVisual .sideBar a {
    /* border: 2px solid red; */
    padding: 12px;
    margin: 2px 0;

}



/* swiper */

.mainVisual .swiperBox {
    /* border: 3px solid blue; */

    width: 40%;
    padding-top: 40%;
    position: relative;
    margin: 0 auto;

}

.mainVisual .mainSwiper {
    /* border: 3px solid goldenrod; */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}


.mainVisual .mainSwiper .swiper-wrapper .card {
    height: 100% !important;
    width: 100% !important;
    transform-style: flat !important;
    /* border: 4px solid #2e2e2e; */

}


.mainVisual .mainSwiper .swiper-wrapper .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width:1000px) {

    /* 태블릿 */

    .mainVisual .inner {
        padding: 100px 64px;

    }

    .mainVisual .swiperBox {
        width: 300px;
        height: 300px;
        padding-top: 300px;
        margin-right: 0;

    }

    .mainVisual .mw .inner::after {
        width: 200px;
        height: 200px;
        background-size: contain;
        background-image: url(../img/Circle\ Icon.svg);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 270px;
        right: -70px;
    }
}

@media (max-width:880px) {

    /* 모바일 */
    .mainVisual .inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 60px;

    }

    .mainVisual .mw .inner::after {
        display: none;
    }

    .mainVisual h2 {
        color: white;
        text-shadow: #2e2e2e -4px 4px 0;
    }

    .mainVisual h2 span {
        margin: 8px auto;
        color: #2e2e2e;
        text-shadow: none;

    }

    .mainVisual h2 br {
        display: none;
    }

    .mainVisual .mw {
        overflow: hidden;
    }

    .mainVisual .inner .txtBox p {
        position: absolute;
        width: 120%;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        z-index: 2;
    }

    .mainVisual .more {
        margin: 0 auto 0;
        margin-top: 250px;
        position: relative;
        z-index: 2;
    }

    .mainVisual .more a {
        padding: 0px 48px 0px 20px;
    }

    .mainVisual .swiperBox {
        position: absolute;
        width: 105%;
        height: 105%;
        /* padding-top: 50%; */
        bottom: -2%;
        /* top: 270px; */
        margin: 0 auto;
        overflow: hidden;

    }

    .mainVisual .swiperBox .card {
        background-color: #C2F4FF;
    }

    .mainVisual .swiperBox .card img {
        opacity: 0.7;
    }
}