.project .mw {
    background-color: #f4f4f4;
    border-top: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.project .mw::before,
.project .mw::after,
.project .inner::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 600px;
    height: 600px;
}

.project .mw::before {
    left: -200px;
    top: 10%;
    background: rgb(193, 255, 222);
    background: radial-gradient(circle, rgba(193, 255, 222, 1) 0%, rgba(193, 255, 222, 0) 80%);
}

.project .mw::after {
    right: -250px;
    top: 300px;
    background: rgb(212, 202, 255);
    background: radial-gradient(circle, rgba(212, 202, 255, 1) 0%, rgba(212, 202, 255, 0) 80%);
}

.project .inner::before {
    left: -200px;
    top: 55%;
    background: rgb(247, 199, 255);
    background: radial-gradient(circle, rgba(247, 199, 255, 1) 0%, rgba(247, 199, 255, 0) 70%);
}


.project .inner {
    align-items: center;
    padding: 150px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.project ul {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}

.project .pjBox {
    /* border: 2px solid fuchsia; */
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* textArea */

.project .textArea {
    width: calc(40% - 64px);
}

.project .textArea>span {
    display: block;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--h4-p-span);
    line-height: var(----p);
    padding: 18px 0
}

.project .textArea>span:nth-of-type(1) {
    border-bottom: 4px solid var(---dark);
}


.project .pjBox .more {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.project .pjBox .more .moreText {
    /* border: 3px solid yellow; */
    position: absolute;
    left: 0;
    top: 300px;
}

.project .pjBox .more .moreText::after {
    background-image: url(../img/arrow45dark.svg);
    top: 0;
    right: -30px;
}

.project .pjBox:hover>.textArea .moreText::after {
    top: -5px;
    right: -35px;
}

/*----------imgArea  ----------*/

.project .imgArea {
    width: 60%;
    padding-top: 60%;
    border: 4px solid var(---dark);
    position: relative;
}


.project .imgArea span {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--more-nav);

    position: absolute;
    top: 5%;
    left: 5%;
}

.project .pjBox:nth-of-type(1) .imgArea {
    background-image: url(../img/Background01.svg);

}

.project .pjBox:nth-of-type(2) .imgArea {
    background-image: url(../img/Background02.svg);
}

.project .pjBox:nth-of-type(3) .imgArea {
    background-color: #9BA1D6;
}

.project .pjBox:nth-of-type(4) .imgArea {
    background-image: url(../img/Background04.svg);
}



.project .imgArea .maskImg {
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: cover;
    top: 15%;
    left: 15%;
    transition: 0.3s;
}

.project .pjBox:nth-of-type(1) .imgArea .maskImg {
    width: 80%;
    /* 역삼각형 */
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    top: 15%;
    left: 10%;
}

.project .pjBox:nth-of-type(2) .imgArea .maskImg {
    clip-path: circle(50% at center);
}


/* ----hover---- */
.project .pjBox .more,
.project .pjBox .detail {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.project .pjBox:hover .more,
.project .pjBox:hover .detail {
    visibility: visible;
    opacity: 1;
}

.project .pjBox:hover .imgArea .maskImg {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    /* clip-path: none; */
    /* clip-path 초기값으로 설정하여 모양이 해제됨 */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


@media (max-width:900px) {

    .project .inner {
        padding: 80px 64px;
    }

    .project .textArea {
        width: calc(55% - 64px);
    }

    .project .imgArea {
        width: 45%;
        padding-top: 45%;
    }

    .project .pjBox .more .moreText {
        top: auto;
        bottom: 5%;
    }
}


@media (max-width:800px) {
    .project .inner {
        padding: 80px 32px;
    }

    .project .textArea {
        width: calc(65% - 32px);
    }

    .project .imgArea {
        width: 35%;
        padding-top: 35%;
    }

    .project .textArea>span {
        padding: 8px 0;
    }

    .project .pjBox .more .moreText {
        top: auto;
        bottom: 20%;
    }

}