.scrollText {
    overflow: hidden;
    border-top: 4px solid var(---dark);
    border-bottom: 4px solid var(---dark);
    display: flex;
    position: relative;
    white-space: nowrap;
}

.wideScrollText {
    gap: 3rem;
    text-transform: uppercase;
    position: relative;
    width: 6000px;
    display: flex;
    justify-content: space-around;
    padding: var(--h4-p-span);
    align-items: center;
    transform: translateX(0);
}

.scrollText .wideScrollText img:nth-last-of-type(2n) {
    height: calc(var(--h2) * 2);
}

.scrollText .wideScrollText img:nth-last-of-type(2n-1) {
    height: calc(var(--h2) * 2.5);
}

.scrollText .wideScrollText span {
    font-size: calc(var(--h3) * 2);
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media (max-width:1100px) {
    .wideScrollText {
        gap: 2rem;
    }

}

@media (max-width:750px) {
    .wideScrollText {
        gap: 1.5rem;
    }

}