.service .mw {
    background-color: #fff;
    overflow: hidden;
}

.service .inner {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 150px 0 100px 0;
}

.service .inner h2 {
    position: relative;
}

.service .inner h2>br {
    display: none;
}

.service .inner h2::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    /* border: 1px solid fuchsia; */
    background-image: url(../img/SettingIcon.svg);
    background-size: cover;
    position: absolute;
    right: -20%;
    top: -50%;
}

.service .inner>p {
    padding: 18px;
    text-align: center;
}


/* ------ serviceBoxs serviceCard------ */

.service .inner .serviceBoxs {
    display: flex;
    border-top: 4px solid var(---dark);
    border-bottom: 4px solid var(---dark);
    margin: 64px 0;
}

.service .serviceCard {
    padding: 100px 32px;
    position: relative;
    transition: 0.3s;
}

.service .serviceCard:nth-last-of-type(2) {
    border-left: 4px solid var(---dark);
    border-right: 4px solid var(---dark);
}

.service .serviceCard::before {
    content: "";
    border: 4px solid var(---dark);
    border-radius: 99px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: -35px;
    left: 30px;
    width: 90px;
    height: 90px;
    transition: 0.3s;

}

.service .serviceCard:nth-of-type(1)::before {
    background-image: url(../img/Icon2-1.svg);
    background-size: 50%;
}


.service .serviceCard:nth-of-type(2)::before {
    background-image: url(../img/Icon2-3.svg);
    background-size: 60%;
}

.service .serviceCard:nth-of-type(3)::before {
    background-image: url(../img/Icon2-2.svg);
    background-size: 50%;
}

.service .serviceCard:hover {
    background-color: #FFE3CE;
}

.service .serviceCard:hover::before {
    box-shadow: -4px 4px 0 var(---dark);
    background-color: #FFF969;
}

.service .serviceCard strong {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;

}

.service .serviceCard p {
    margin: 28px 0;
}


/* ------ more ------ */
.service .serviceCard .more {
    /* border: 2px solid olive; */
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.service .serviceCard .more .moreText {
    /* border: 2px solid gold; */
    position: absolute;
    bottom: 50px;
    left: 32px;
}

.service .serviceCard .more .moreText::after {
    background-image: url(../img/arrow45dark.svg);

}

.service .serviceCard .more .moreText::after,
.service .moreBar>.moreText::after {
    right: 0;
    top: 0;
}

.service .serviceCard .more:hover>.moreText::after,
.service .moreBar:hover>.moreText::after {
    top: -5px;
    right: -5px;
}

.service .moreBar {
    background-color: var(---dark);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 28px 0;
}




@media (max-width:1100px) {
    /* 태블릿 */

    .service .serviceCard {
        padding: 100px 32px 60px 32px;
    }
}



@media (max-width:850px) {

    /* service card 조정 */

    .service .inner {
        padding: 220px 0 150px 0;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service .inner h2::before {
        right: 50%;
        transform: translateX(50%);
        top: -300%;
    }

    .service .inner .serviceBoxs {
        flex-direction: column;
        margin: 32px;
        border-left: 4px solid var(---dark);
        border-right: 4px solid var(---dark);
    }

    .service .serviceCard:nth-last-of-type(2) {
        border-left: none;
        border-right: none;
        border-top: 4px solid #2e2e2e;
        border-bottom: 4px solid #2e2e2e;
        text-align: right;
    }

    .service .serviceCard:nth-last-of-type(2)::before {
        left: auto;
        right: 32px;
    }

    .service .serviceCard:nth-last-of-type(2) .more .moreText {
        left: auto;
        right: 32px;
    }

    .service .serviceCard::before {
        top: -30px;
    }

    .service .serviceCard {
        padding: 100px 32px 80px 32px;
    }

    .service .serviceCard p {
        margin: 16px 0 0 0;
    }


    .service .serviceCard .more .moreText {
        bottom: 40px;
    }
}

@media (max-width:750px) {
    .service .inner {
        padding: 150px 0 100px 0;
    }

    .service .inner h2 {
        text-align: center;
    }

    .service .inner h2>br {
        display: block;
    }

    .service .inner h2::before {
        top: -140%;
    }

    .service .serviceCard {
        padding: 80px 32px;
    }

    .service .serviceCard::before {
        width: 80px;
        height: 80px;
    }
}

@media (max-width:550px) {
    .service .serviceCard::before {
        width: 60px;
        height: 60px;
    }

    .service .serviceCard {
        padding: 60px 32px;
    }


    .service .inner {
        padding: 100px 0;
    }

    .service .inner h2::before {
        width: 50px;
        height: 50px;
        top: -140%;
    }

    .service .inner p br {
        display: none;
    }

    .service .serviceCard .more .moreText {
        bottom: 28px;
    }

}